/* *{
    border: 1px solid red;
} */

body{
    background: #ffffff;
}

.intro ul{
    padding: 5px;
    color: #010101;
    float: right;
    list-style-type: none;
}

.intro li{
    display: inline;
    padding: 0px 5px 0px 5px;
    font-size: 15px;
}

.apps {

}

.heading{
    padding: 20px;
}

.heading img{
    height: 92px;
    width: 272px;
    position: relative;
    margin-top: 175px;
    left: 39.5%;
}

.profile{
    border-radius: 100%;
    border: 1px solid black;
    height: 30px;
    width: 30px;
}

.search-bar{
    width: 50%;
    height: 50px;
    left: 28%;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #666666;
}

.location{
    background: rgba(0, 0, 0, 0.54);
    padding: 6px;
    
}


